{% extends "base.html" %}

{% block content %}
<h1>Blog posts!</h1>
<div class='blogs'
    </br>
    <hr />

    
    {% if blog|length == 0 %}
    <p>No blog posts yet <a href="/new_post">Write your first post</a></p></p>
    {% else %}


        
        {% for posts in blog %}  
            
            <h2><a href="/blog?id={{posts.id}}">{{posts.title}}</a></h2>
            <hr />
            <p>{{posts.body}}</p>
            <p id="author">Written by <a href="blog?user={{posts.owner.id}}">{{posts.owner.username}}</a>.</p>
            <hr />
            
        
    
        {% endfor %}
        

    {% endif %}
</div>
    

{% endblock %}

