{% extends "base.html" %}

{% block content %}
<h1>Add A New Post</h1>
    <form  method='post'>
        <label>Title for new blog:</label>
            
        </br>
        <input type="text" name='new' value = '{{request.form['new']}}'/>
        
        {%if name_error %} 
        <div class = error>{{name_error}}</div>  
        {%endif%} 
        
        
         {{request.form['username']}}'
        </br>
        </br>
        <label>Your new entry:</label>
            
        </br>
        <textarea rows='8' name='blog' value = '{{request.form['blog']}}'></textarea>
        
        {%if body_error %} 
        <div class = error>{{body_error}}</div>  
        {%endif%} 
        
        
         
        </br>
        <input type="submit" value='add blog' />
    </form>
    

{% endblock %}


