{% extends "base.html" %}

{% block content %}
<h1>Signup</h1>
<form action="/signup" method="POST">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input id= "username" name="username" type="text" value="{{ username }}">
            </td>
        </tr>
        <tr>
            <td class='error'>{{username_error}}</td>
        </tr> 
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password" id="password">
            </td>
        </tr>
         <tr>
            <tc class='error'>{{password_error}}</td>
        </tr> 
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify_pass" type="password" id="verify">
            </td>
        </tr>
         <tr>
            <tc class='error'>{{verify_error}}</td>
        </tr> 
    </table>
    <input type="submit" value="Sign up!">
</form>
{% endblock %}